.App-footer {
    text-align: center;
    margin: 30px 0;
        background: rgba(211, 190, 4, 0.781);
  
   border-radius: 16px;
   box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
   margin: 20px 0;
}
.App-header {
    margin: 30px 0;
}
body {
  background-image: url("https://images.unsplash.com/photo-1618259278412-2819cbdea4dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2021&q=80");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: black;
}
.about {
    background: rgba(211, 190, 4, 0.781);
   padding: 30px;
   border-radius: 16px;
   box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
   margin: 20px 0;
}
h4 {
      font-size: 22px;
    font-weight: bold;
    color: #841818;
}
a, a:visited{
     color: black;
}
a:hover {
    color: #841818;
}
.App {
    max-width: 980px;
    margin: 0 auto;
}