.Dictionary section {
   background: rgba(211, 190, 4, 0.781);
   padding: 30px;
   border-radius: 16px;
   box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
   margin: 20px 0;
   

}
.Dictionary input {
    width: 100%;
    padding: 6px 4px;
    border-radius: 6px;
    border: 2px solid #841818;
    color: #333; 
}
.Dictionary .hint {
    font-size: 13px;
    margin-top: 5px;
}
.Dictionary h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.Dictionary h5 {
    font-size: 30px;
    text-align: center;
}